.modalBackground {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.modal {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  background-color: var(--main);
  width: 698px;
  height: 418px;
}
