.modalBackground {
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.crossButtonStyle{
  width: 20px;
}

.firstRow{
  display: flex;
  justify-content: flex-end;
  height: fit-content;
}

.crossButton{
  width: fit-content;
  padding: 0;
  background-color: var(--main); 
}

.modal {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: space-between;

  background-color: var(--main);
  width: fit-content;
  height: 55%;
  padding: 2rem;
  border-radius: 10px;
}

.modalPlacableContent {
  height: 100%;

  display: flex;
  flex-flow: column nowrap;
  align-items: space-between;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--main);
  border-radius: 5px;
  margin: 10px;

  position: absolute;
  left: 0;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 5px;
}

.modalTitle {
  color: var(--text_color);
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  padding-left: 0.7rem;
}

.modalDescription {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  color: main(--text_color);
}

.modalDescriptionField {
  width: 400px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  padding: 1rem;
  color: var(--text_color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: var(--main);
}

.modalDescriptionText {
  color: var(--text_color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
}

.modalContent {
  display: flex;
  flex-flow: column nowrap;
  padding: 0.7rem;
  overflow-y: scroll;
  width: 100%;
  justify-content: flex-start;
}

.modalRows{
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;

}

.modalDropDown {
  width: 185px;
  height: 32px;
  flex-shrink: 0;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  background-color: var(--main);
  color: var(--text_color);
}

.modalSaveButton {
  background: linear-gradient(0deg, #2a4ecb, #2a4ecb),
    linear-gradient(0deg, #d9d9d9, #d9d9d9);

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 3px;
  font-size: 14px;
  font-weight: 400;
  color: whitesmoke;
  width: 6rem;
  height: 2rem;
}

.modalCancelButton {
  background-color: var(--main);
  color: var(--text_color);

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 3px;
  font-size: 14px;
  font-weight: 400;
  color: car(--text_color);
  width: 6rem;
  height: 2rem;
}

.modalButtonTray {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
  height: fit-content;
  margin-top: 1rem;
}

.modalStoryPointsField {
  width: 180px;
  height: 29px;
  flex-shrink: 0;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  background-color: var(--main);
  color: var(--text_color);
}

.modalDate{
  display: flex;
  flex-flow: row nowrap;
  height: fit-content;
  gap: 6rem;
  align-items: center;
}

.modalSummary{
  display: flex;
  flex-flow: row nowrap;
}

.dateInput{
  border: 1px solid #d9d9d9;
  padding: 0.2rem 1rem;
  color: var(--text_color);
  background-color: var(--main);
}

.modalReporter{
  width: 180px;
  height: 29px;
  flex-shrink: 0;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  padding: 0.3rem 1rem;

  background: repeating-linear-gradient(
    45deg,
    var(--main),
    var(--main) 10px,
    rgba(128, 128, 128, 0.132) 10px,
    rgba(128, 128, 128, 0.132) 20px
  );

  color: var(--text_color);
}

.modalReporter:hover{
  cursor:not-allowed;
}

.modalEventNameField{
  background-color: var(--main);
  border: 1px solid #d9d9d9;
  height: 36px;
  color: var(--text_color);
  width: 15rem;
  border-radius: 5px;
}

.modalInputTitle{
  color: var(--text_color);
  margin-bottom: 0.5rem;
}