.loginBackground{
    width: 100vw;
    height: 100vh;
    background-color: var(--secondary);
    color: var(--text_color);

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.kanbanBoardImage{
    width: 100px;
}

.loginCard{
    width: fit-content;
    height: fit-content;
    padding: 2rem 3rem;
    background-color: var(--main);

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.loginBorder{
    border: 5px solid grey;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 6rem 2rem;
    gap: 2rem;
}

.loginButton{
    background: linear-gradient(0deg, #2a4ecb, #2a4ecb),
    linear-gradient(0deg, #d9d9d9, #d9d9d9);
    width: 14rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main);
}

.loginHeader{
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--text_color);
}

.loginInput{
    background-color: var(--main);
    color: var(--text_color);
    border: 1px solid grey;
    width: 14rem;
    height: 2rem;
}

.loginInputFields{
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
    align-items: flex-end;
}