.statusColumn{
    width:100%;
    /* border: 1px solid black; */
}

.columnTitle{
    font-size: 16px;
    font-weight: 400;
    color: var(--text_color);
}

.columnField{
    background-color: var(--secondary);
    padding: 1rem;
}