.statusColumn{
    width:100%;
    /* border: 1px solid black; */
}

.columnTitle{
    font-size: 16px;
    font-weight: 400;
    color: var(--text_color);
}

.columnField{
    background-color: var(--secondary);
    padding: 0rem 0.4rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    min-height: 30rem;
}

.noButton{
    font-weight: inherit;
    padding: 0px;
    width: 100%;
    justify-self: inherit;
    align-items: inherit;
}