.allBoardBackground{
    width: 100vw;
    height: 100vh;
    background-color: var(--main);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.usernameTile{
    font-size: 26px;
    color: black;
    padding-bottom: 2rem;
    color: var(--text_color)
}

.board{
    width: 16rem;
    height: 8rem;
    border-radius: 5px;
    border: 1px solid grey;
    color: var(--text_color)

}

.allBoardField{
    /* border: 1px solid black; */
    width: 80%;
    height: 60%;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;

}

.allBoardsView{
    /* border: 1px solid black; */
    height: 20rem;
    display: flex;
    flex-flow: row wrap;
    gap: 3rem;
    /* padding: 1rem; */
}

.kanbanImage{
    height: 60%;
    background-position: center;
    background-size:cover;
    border-radius: 5px 5px 0px 0px;

}

.boardInfo{
    padding: 0.4rem;
}

.boardCreate {
    background: linear-gradient(0deg, #2a4ecb, #2a4ecb),
      linear-gradient(0deg, #d9d9d9, #d9d9d9);
  
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
  
    border-radius: 3px;
    font-size: 14px;
    font-weight: 400;
    color: whitesmoke;
    width: 6rem;
    height: 2rem;
  }