@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
  --main: #FFF;
  --secondary: #EEE;
  --accent: #2A4ECB;
  --text_color: #333;
}

*{
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}